<div mat-dialog-content>
  <p>Create a new task!</p>
  <mat-form-field>
    <mat-label>Task Name</mat-label>
    <input matInput [(ngModel)]="task.Name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="task" cdkFocusInitial>Ok</button>
</div>
