<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <form>
              <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input
                      type="email"
                      class="form-control"
                      name="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Enter email"
                      [(ngModel)]="loginModel.email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Senha</label>
                  <input
                    [(ngModel)]="loginModel.senha"
                    type="password"
                    class="form-control"
                    name="exampleInputPassword1"
                    placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary" (click)="signUp()">Submit</button>
          </form>
          <div>
            Ja tem login? <a [routerLink]="'/login'">Entre</a>
          </div>
      </div>
  </div>
</div>
