<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="example-container">
        <h2><span matBadge="4" matBadgeOverlap="false">To Do</span></h2>
        <div cdkDropList #todoList="cdkDropList" id="todo" [cdkDropListData]="todos"
          [cdkDropListConnectedTo]="[doneList,inProgressList,qaList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todos" cdkDrag>
            {{item.Name}}
            <div>
              <button (click)="deleteTask('todo', item.Id)">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
              <button>
                <ion-icon name="eye-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <div style="text-align: center; padding: 10px;"><button mat-button (click)="openDialog('todo')">
            <ion-icon name="add-outline"></ion-icon> Adicionar Ticket
          </button></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="example-container">
        <h2>In Progress</h2>
        <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="[doneList,todoList,qaList]" class="example-list" id="inProgress"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
            {{item.Name}}
            <div>
              <button (click)="deleteTask('inProgress', item.Id)">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
              <button>
                <ion-icon name="eye-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <div style="text-align: center; padding: 10px;">
          <button mat-button (click)="openDialog('inProgress')">
            <ion-icon name="add-outline"></ion-icon> Adicionar Ticket
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="example-container">
        <h2>QA</h2>
        <div cdkDropList #qaList="cdkDropList" id="qa" [cdkDropListData]="qa"
          [cdkDropListConnectedTo]="[doneList,inProgressList,todoList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of qa" cdkDrag>
            {{item.Name}}
            <div>
              <button (click)="deleteTask('qa', item.Id)">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
              <button>
                <ion-icon name="eye-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <div style="text-align: center; padding: 10px;"><button mat-button (click)="openDialog('qa')">
            <ion-icon name="add-outline"></ion-icon> Adicionar Ticket
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="example-container">
        <h2>Done</h2>
        <div cdkDropList #doneList="cdkDropList" id="done" [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[qaList,inProgressList,todoList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>
            {{item.Name}}
            <div>
              <button (click)="deleteTask('done', item.Id)">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
              <button>
                <ion-icon name="eye-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <div style="text-align: center; padding: 10px;"><button mat-button (click)="openDialog('done')">
            <ion-icon name="add-outline"></ion-icon> Adicionar Ticket
          </button></div>
      </div>
    </div>
  </div>
</div>
